body {
	background-color: #ffffff;
	margin: 0;
}

*, :after, :before {
	box-sizing: inherit;
}

div {
	display: block;
}

html, body {
	font-family: "Gotham 4r", "GothamBook", Helvetica, Arial, sans-serif;
	/* position: relative; */
	min-height: 100p
}

input.placeholder {
    text-align: left;
	font-size: 18px;
}

